* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Add this CSS to style.css */
.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
    float: right; /* This will move the image to the right side */
    margin-left: 20px; /* Adds space between the text and the image */
}


header h1 {
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    background-color: #444;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #996868;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section h2 {
    margin-bottom: 10px;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
